# Gradle files
.gradle/
build/
app/build/
**/build/

# Local configuration
local.properties

# IDE & OS files
.idea/
*.iml
.DS_Store
Thumbs.db
.kotlin/

# Android Studio / Gradle generated
*.ap_
*.apk
*.aab
*.dex
